@import "variables.less";
@import "Mixins.less";

body{
    font-family: Calibri, Arial;
    background-color: #b7c5ff;;
    
}
.row{
	margin-right: 0px !important; 
	/*padding-bottom: 30px;*/
}
.panel {
	margin-top: @pixel25;
}
.ajustes {
	padding-top: @pixel25;
}
header{
   background-color: @backgroundColorHeaderFooter;
   padding-top:5px;
   padding-bottom:5px;

}

footer{
	background-color: @backgroundColorHeaderFooter;
	width:100%;
	position:absolute;
	bottom:0px;

}

small{
	font-size: 0.8em;
	color: #e7e9ec;

}


.dropdown-menu{
	/*Boton de logout*/
	list-style:none;
	background-color:@colorFondoContenido;
	float:right;
	&:hover{
		color:#ffffff;
		background-color:#0077B5;
	}	
	.bordebotones();

}

.imagenEncabezado{
	width:60px;;
	border-radius: @pixel20;
}

.navbar-right{
	float:right;
}

.listaencabezado,.botonSalir{
	/*text-decoration: none;
	list-style:none;
	border-radius: @pixel5;
	
	&:hover{
		background-color:#0077B5;
	}	*/
	text-decoration: none;
	list-style:none;
	float:right;
	padding:5px;
	.botonesPrincipales()

}
.botonDefecto{
	text-decoration: none;
	padding:5px;
	text-align:center;	
	margin-bottom:15px;
	.botonespordefecto()
	
}




.contenido{
	background-color: @colorFondoContenido;	
	margin-bottom: @pixel25;
	margin-top: @pixel25;
	.borderedondeado()
	
}

.login{

	background-color: @colorFondoContenido;
	.bordebotones()

	
}

.botonlogin,.botonregister{
	.botonesPrincipales()

}

.btn-link{
	font-size:0.8em;	
}

.notificacionlistados{
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	font-family: Calibri ,Candara ,'Century Gothic',Arial;
	background-color:#8186B2;
	border-top:2px solid #FF9B75;
	border-left:4px solid #FF9B75;
	.bordebotones();
}
