body{
    font-family: Calibri, Arial;
    background-color: #e7e9ec

}

header,.navCustom{
   margin-bottom: 10px;
   background-color: #535353;
   border-radius: 10px;
}
footer{
	background-color: #535353;

}

footer div{
	margin: 10px;
}

small{
	font-size: 0.6em;
	color: #e7e9ec;

}

.imagenEncabezado{
	width: 75px;
	margin-left: 100px;
	margin-top: 5px;
	border-radius: 20px;
}
.botonSalir{

	float: right;
	margin-right: 5px;
	margin-top: 5px;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	background-image: url('img/salir.png') no-repeat;
	background-size: 80px 80px;
}
.contenido{
	background-color: #ffffff;
	width: 800px;
	margin-left: 200px;
	box-shadow: 3px 3px 7px #999;
	border-radius: 5px;
}
