#logoempresa { 
	width: 75px; 
}
#logoempresa, #formempresa { 
	padding: @pixel10 0px;	 
}
#formempresa { 
	width: 450px; 
	padding-top: 25px;	
}
.txt-algn-cntr{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.flotar_izq{
	float: left;	
}
.flotar_dcha{
	float: right;	
}
.text-center{
	text-align: center;
}
.mrg-left-1em {
	margin-left: 1em;	
}
#acceso{
	width: @pixel500;
	margin: auto;
	border-style: solid;
}
