/*@media (min-width: 768px) {
  .imagenEncabezado {
    width: 40%;
  };
}
@media (max-width: 767px){
	.imagenEncabezado {
		width: 50%;
	};	
}*/
@import "variables.less";
@import "Mixins.less";

@media (min-width: 320px) and (max-width: 500px){
	.imagenEncabezado {
		width: 40px;
	}	
	.listaencabezado{
		font-size: 0.7em;
	}
	.cajadetexto{
		width: 120%;
	}
	.imagen{
		width: 30%;
		float: none;
	}
	label{
	    clear:both;
	    font-size:0.8em;
    }
    .fotouser{
    	width:88px;
    }
    .infouser{
   		height: 88px;
    }
    .titulo{
        clear:both;
        font-size:1.2em;
    }
    .informacion{
        clear:both;
        font-size:0.8;
    }
}


@media (min-width: 500px) and (max-width: 767px){
	.imagenEncabezado {
		width: 44px;
	}	
	.listaencabezado{
		font-size: 0.8em;
	}

	.cajadetexto{
		width: 140%;
	}
	.imagen{
		width: 30%;
		float: left;
		/*margin: 65px 10px 10px 10px;*/
		padding:0px;
		.bordeimgenes()
	}
}
@media (min-width: 768px){
	.imagenEncabezado {
		width: 40%;
	}	
	.listaencabezado{
		font-size: 1em;
	}
	.cajadetexto{
		width: 450px;
	}
	.navbar_header{
		clear:both;
	}
	.imagen{
		width: 100%;
		float: left;
		/*margin: 65px 10px 10px 10px;*/
		padding:0px;
		.bordeimgenes()
	}
}
@media (min-width:480px)and(max-width:640px){
   label{
    clear:both;
    font-size:1.0em;
   }
  
}
@media (min-width:640px){
   label{
    clear:both;
    font-size:1.2em;
   }
  
}