@import "variables.less";
@import "Mixins.less";


.divgeneral{
    width: 80%;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #999;     
}

.genericsize {
    width: 600px;
    margin: auto;
}

.customnav {
    height: 80px;
}

.ofertaboton input{
    width: 90%;
    height: 40px;
    margin-left: 45px;
    padding: 10;
    background-color: @colorFondoContenido;
    border:1px solid #00a0dc;
    color: #00a0dc;
    border-radius: @pixel10;
    &:hover{
        background-color: #00a0dc;
        color: @colorFondoContenido;
    }
}

.infouser{
    border: 1px solid gray;
    margin-right: @pixel50;
    margin-left: @pixel50;
    margin-top: @pixel10;
    margin-bottom: @pixel10;
    height: @pixel100;
    border-radius: @pixel10;
    box-shadow: 2px 2px 5px #999;  
}

.ofertas{   
    margin-right: @pixel50;
    margin-left: @pixel50;
    height: @pixel400;
    margin-top: @pixel10;
}

.oferta{
    color: #4d4d4d ;
    border: 1px solid #cccccc;
    margin:@pixel10;
    border-radius: @pixel10;
    &:hover{
        background-color: #cccccc;
    }
}

.fotouser{
    width: 97px;
    float: left;
    border-radius: @pixel10;
}

.enlaceeditar{
    float: right;
    width: 40px;
    margin-right: @pixel5;
    margin-top: @pixel5;
    &:hover{
        width: 45px;
        border:1px solid  #00a0dc;
        border-radius: @pixel5;
    }
}

.datosuser{
    float: left;
    margin-left: 11px;
    margin-top: 11px;
}

.labelnombre{
    font-size: @pixel20;
    font-weight: bold;
    margin:@pixel5;
}

.labelcorreo{
    font-size: 18px;
}

.tituloofertas{
    margin-left: @pixel10;
}

.listaofertas{
    border: 1px solid gray;
    overflow-y: scroll;
    height: 330px;
}
.wrapper{
    height: 600px;
}
