@import "variables.less";
@import "Mixins.less";

/*En este fichero .less, tenemos los estilos para las paginas principales de todos los usuarios*/
/*Esta clase la utilizamos para la informacion principal del usuario que mostramos el la pagina principal*/

.datosuser{
    padding: .5em;
    position:absolute;
    top:-8px;
    left:300px;
}

/*
.divgeneral{
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #999;     
}
*/
.genericsize {
    margin: auto;
}

/*Esta clase la utilizamos para el boton de añadir oferta*/
.añadiroferta{
    text-align:center;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    .botonespordefecto()
}
/*
.ofertaboton input{
    background-color: @colorFondoContenido;
    border:1px solid #00a0dc;
    color: #00a0dc;
    border-radius: @pixel10;
    &:hover{
        background-color: #00a0dc;
        color: @colorFondoContenido;
    }
}

*/


/*Estas clases se utilizan para listar las ofertas en cada principal y en la pagina
donde el reponsable tiene que ver las ofertas por confirmar, ademas para que el responsable vea 
el listado de alumnos por confirmar y el listado de todas las empresas*/
.listado,.ofertas{   
    /*height: @pixel400;*/
    margin-top: @pixel10;
    border-radius: @pixel10;
    box-shadow: 2px 2px 5px #999;  
   /* overflow:scroll;*/
}
/*Estas clases se utilizan para dar formato a cada oferta, alumno y empresa listada en las mismas 
paginas que las dos clases anteriores*/
.oferta,.alumno,.empresa{
    color: #4d4d4d ;
    border: 1px solid #cccccc;
    border-radius: @pixel10;
    padding:5px;
    margin-top:@pixel25;
    margin-bottom:@pixel25;
    &:hover{
        background-color: #A9E2F3;
        color:#0B610B;
        border-color:#58FA58;
        border-radius: @pixel20;
    }
    h2{
        font-size:1.0em;

    }
    h3{
        font-size:0.8em;
    }
}

/*Esta clase la utilizamos para el boton de editar el perfil y despues le añadimos el mismo 
estilo al boton de ver el perfil y el de boorar oferta*/

.enlaceeditar{
    float: right;
    width: 5%;
    margin:10px;
    &:hover{
        width: 7%;
        border:1px solid  #00a0dc;
        border-radius: @pixel5;
    }
}
/*Esta clase la utilizamos para el listado de ofertas*/
.listaofertas{
    border: 1px solid gray;
    overflow-y: scroll;
    height: 330px;
}

/*Esta clase la utilizamos para los botones de la pagina principal de responsable*/
.botonesprincipalesresponsable{
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;
    margin-top:10px;
    .botonespordefecto()
}
/*Esta clase es para darle un formato en concreto al div que contiene los botones del responsable
en la pagina principal*/
.divresponsable{
    margin-top:250px;
    margin-bottom:150px;
    padding-bottom:50px;
}

