body{
    font-family: Calibri, Arial;
}

#divgeneral{
    width: 80%;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #999; 
    
}
.genericsize {
    width: 600px;
    margin: auto;
}
.customnav {
    height: 80px;
}
.ofertaboton input{
    width: 90%;
    height: 40px;
    margin-left: 45px;
    padding: 10;
    background-color: #ffffff;
    border:1px solid #00a0dc;
    color: #00a0dc;
    border-radius: 10px;/*@pixel10*/
}
.ofertaboton input:hover{
    background-color: #00a0dc;
    color: #ffffff;/*@pixel5*/
}
#infouser{
    border: 1px solid gray;
    margin-right: 50px;/*@pixel50*/
    margin-left: 50px;/*@pixel50*/
    margin-top: 10px;/*@pixel10*/
    margin-bottom: 10px;/*@pixel10*/
    height: 100px;/*@pixel100*/
    border-radius: 10px;/*@pixel10*/
    box-shadow: 2px 2px 5px #999;  
}

#ofertas{   
    margin-right: 50px;/*@pixel50*/
    margin-left: 50px;/*@pixel50*/
    height: 400px;
    margin-top: 10px;/*@pixel10*/
}

.oferta{
    color: #4d4d4d ;
    border: 1px solid #cccccc;
    margin:10px;/*@pixel10*/
    border-radius: 10px;/*@pixel10*/
}
.oferta:hover{
    background-color: #cccccc;
}

#fotouser{
    width: 97px;
    float: left;
    border-radius: 10px;/*@pixel10*/
}

#enlaceeditar{
    float: right;
    width: 40px;
    margin-right: 5px;/*@pixel5*/
    margin-top: 5px;/*@pixel5*/
}
#enlaceeditar:hover{
    width: 45px;
    border:1px solid  #00a0dc;
    border-radius: 5px;/*@pixel5*/
}

#datosuser{
    float: left;
    margin-left: 11px;
    margin-top: 11px;
}

#labelnombre{
    font-size: 20px;/*@pixel20*/
    font-weight: bold;
}

#labelcorreo{
    font-size: 18px;
}

#tituloofertas{
    margin-left: 10px;/*@pixel10*/
}

#listaofertas{
    border: 1px solid gray;
    overflow-y: scroll;
    height: 330px;
}
#wrapper{
    height: 600px;
}
