@import "variables.less";
@import "Mixins.less";
body{
    font-family: Calibri, Arial;
}
#divgeneral{
    border: 1px solid black;    
}
.genericsize {
    width: 600px;
    margin: auto;
}
.customnav {
    height: 80px;/*@pixel80*/
}
#infouser{
    border: 1px solid gray;
    margin-right: 50px;/*@pixel50*/
    margin-left: 50px;/*@pixel50*/
    height: 100px;/*@pixel100*/
    margin-top: 10px;/*@pixel10*/
}
#ofertas{
    border: 1px solid gray;
    margin-right: 50px;/*@pixel50*/
    margin-left: 50px;/*@pixel50*/
    height: 400px;
    margin-top: 10px;/*@pixel10*/
}
#fotouser{
    width: 100px;/*@pixel100*/
    float: left;
}
#enlaceeditar{
    float: right;
    width: 40px;
    margin-right: 5px;/*@pixel5*/
    margin-top: 5px;/*@pixel5*/
}
#datosuser{
    float: left;
    margin-left: 11px;
    margin-top: 11px;
}
#labelnombre{
    font-size: 20px;/*@pixel20*/
    font-weight: bold;
}
#labelcorreo{
    font-size: 18px;
}
#listaofertas{
    border: 1px solid gray;
    overflow-y: scroll;
    height: 330px;
}
#wrapper{
    height: 600px;
}
