@import "variables.less";
@import "Mixins.less";
body{
	font-size: 15px;
	font-family: Calibri,Arial;
	background-color: #e7e9ec;
}

form{
	float:left;
	margin: @pixel20;
}

h1{
	font-family: Papyrus,Cambria,'Book Antiqua','Book Antiqua';
	font-size: 3.0em;
}

h2{
	font-family: Papyrus,Cambria,'Book Antiqua','Book Antiqua';
	font-size: 1.5em;
}

.masInfo{
	background: #4f4f4f;
	width: auto;
	height: auto;
	padding: @pixel10;
	border-radius: 15px;
}

span.adicional{
	font-size: 0.8em;
	font-family: 'Courier New','Lucida Sans Typewriter';
	text-align: right;
	color: #e7e9ec ;
	background: #4f4f4f;
}

.Principal{
	margin-right: @pixel200;
	margin-left: @pixel200;
	margin-bottom: @pixel100;	
	overflow: hidden;
}

.imagen{
	width: @pixel300;
	border:1px solid #000;
	float: left;
	margin: @pixel10;
}

.datosPrincipales{
	width: @pixel500;
	float: right;
	padding: .5em;
	margin-top: @pixel50;
}

.ciclos{
	width: @pixel500x;
	/**float: left;**/
	padding: .5em;
	margin-top: @pixel10;
	div{
		overflow-y: scroll;
		width: 306px;
	}	
}

.cambioContraseña{
	width: @pixel500;
	float: right;
	padding: .5em;
	margin-bottom: @pixel20;
}

.ciclosCursados{
	width: 580px;
	/**float: left;**/
	padding: .5em;
	margin-top: @pixel10;
}

.datosSecundarios{
	width: 580px;
	/**float: left;**/
	padding: .5em;
	margin-top: @pixel10;
}

.cajadetexto{
	width:450px;
	height: 200px;
}

select[multiple]{
	width: @pixel200;
}