/*Tamaño imagenes*/
@tamLogo:75%;
@tamImgPerfil:97px;
/*Colores de la web*/
@colorFondo:#e7e9ec;
@colorFondoContenido:#ffffff;
@colorFondoHeader:#535353;
@colorFondoFooter:#535353;

/*Directorios*/
@dirImagenes:../../../public/img;
